.intro-h1 {
  padding: 0;
  margin: 0;
  position: relative;
  word-wrap: unset;
  font-family: 'Caveat', cursive;
}

.back-to-top {
  position: fixed;
  right: 0.5rem;
  bottom: 1rem;
  font-size: 4rem;
  transform: rotate(90deg);
  z-index: 10000;
  color: rgba(0, 0, 0, 0.9)
}

.lets-start-img {
  object-fit: cover;
  background-position: center;
}

.typed-items {
  padding: 0;
  margin: 0;
}

body {
  font-family: Lora,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative;
  color: #fff;
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
}

.back-to-top:hover {
  color: #DC143C;
}

#download {
  height: 100vh;
}

.btn-default:focus, .btn-default:hover {
  color: white;
  border: 1px solid #dc143c;
  outline: none;
  background-color: #dc143c;
}

#portfolio {

  background-color: white;
}

#mainNav a {
  text-align: left;
}

.masthead {
  background-position: center;
}

#game-intro {
  height: 100vh;
  background-color: white;
  display: block;
}
.app-style-heading{
  padding-top:3rem;
  font-weight: 800;
}

@media (min-width: 576px) {
  .game-intro-heading {
    color: rgb(33,37,41);
    font-weight: 800;
    letter-spacing: -3px;
    padding-top: 2.5rem;
  }
}

@media (max-width: 576px) {
  .game-intro-heading {
    color: rgb(33,37,41);
    font-weight: 800;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -3px;
    font-size: 2rem;
    padding-top: 6rem;
  }
  .intro-h1 {
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 3rem;
    word-wrap: unset;
    font-family: 'Caveat', cursive;
  }
}



.education {
  background: white;
}

.cooking img {
  width: 400px;
  height: 400px;
  border: 7px solid #fff;
}



.col.edcution {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10%;
}

.team-member.music img {
  width: 400px;
  height: 400px;
  border: 7px solid #fff;
}

.team-member.edcution img {

  width: 400px;
  height: 400px;
  border: 7px solid #fff;
}

.team-member.cooking {
  margin-bottom: 50px;
  text-align: center;
}

.team-member.music {
  margin-bottom: 50px;
  text-align: center;
}

.team-member.edcution {
  margin-bottom: 50px;
  text-align: center;
}
.row.game-typs {
  color: #1d1d1d;

}
.game-typ img {
  height: 300px;
  width: 400px;
}

.fa.fa-mail-forward {
  color: black;
}

.img-fluid, .img-thumbnail {
  object-fit: cover;
}

#app-activities{
  background: white;
  width: auto;
  color: rgb(33,37,41);
  cursor: pointer;
  display: none;
}
#game-intro {
  height: auto;
  display: none;
}

#game-participants img {
  height: 200px;
  object-fit: contain;
}
#game-participants {
  background-color: white;
  display: none;
}




.btn--doar {
  border:none;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 15px;
  padding-right: 0;
  background-color: #dc143c;
  transition: all .5s ease; 
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--doar:hover { 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.btn--doar:after {
  content: "\f004";
  color: #1d1d1d;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;

}



#suggestion-result{
  height:130vh;
  background-color: white;
}
.btn--doar:hover:after {
  margin: -5px 15px;
  right: 0px;
}

.btn--doar2 {
  border:none;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 15px;
  padding-right: 0;
  background-color: #1f1f1f;
  transition: all .5s ease; 
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--doar2:hover { 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
  color: crimson;
}

.btn--doar2:after {
  content: "\f01e";
  color: crimson;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;
}

.btn--doar2:hover:after {
  margin: -5px 15px;
  right: 0px;
}


.btn--doar3 {
  border:none;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 15px;
  padding-right: 0;
  background-color: #3e396e;
  transition: all .5s ease; 
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--doar3:hover { 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.btn--doar3:after {
  content: "\f1de";
  color: #1d1d1d;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;

}
.btn--doar3:hover:after {
  margin: -5px 15px;
  right: 0px;
}

.btn--doar4 {
  border:none;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 15px;
  padding-right: 0;
  background-color: #DC143C;
  transition: all .5s ease; 
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--doar4:hover { 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
}

.btn--doar4:after {
  content: "\f004";
  color: #1d1d1d;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;

}
.btn--doar4:hover:after {
  margin: -5px 15px;
  right: 0px;
}

.btn--doar5 {
  border:none;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  padding: 15px;
  padding-right: 0;
  background-color: #1f1f1f;
  transition: all .5s ease; 
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 75% 100%, 0 100%);

}

.btn--doar5:hover { 
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 100%);  
  color: #dc143c;
}

.btn--doar5:after {
  content: "\f01e";
  color: crimson;
  font-size: 1rem;
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  right: -55px;
  transition: all 0.2s ease;

}
.btn--doar5:hover:after {
  margin: -5px 15px;
  right: 0px;
}

@keyframes anim1 {
  0%{transform: scaleY(0.5);opacity: 0;}
  50%{transform: translateY(-10px) scaleY(1.4); opacity: 1;}
  100%{transform: translateY(-20px) scaleY(0.5);opacity: 0;}
}
@media (min-width:992px) {
  .portfolio-item:hover .caption {
    background-color: rgba(220,20,60,0.9);
  }
}

.portfolio-item img {
  height: 500px;
}


iframe{
  max-width: 100%;
  height: 400px;
  
}
#suggestion-section-for-TypsMode,#suggestion-section,#suggestion-section-for-random-activities{
  height: 130vh;
  background-color: white;
  display: none;
  color: #1d1d1d ;
  padding-top: 4rem;
  font-weight: 700;
}
#result-section-for-random,#result-section-for-TypsMode,#result-section-for-participants{
  background-color: white;
  height: 130vh;
  width: auto;
  display: none;
}

#last-result1{
  padding-top: 12rem;
  color:#1d1d1d ;
  height: auto;
  width: auto;
}
footer{
  padding-top:50vh;
  height: 144vh;
  width: auto;
  background-color: white;
  color: #212529;
  display: none;
}
.socialMedia{
  color: #212529;
  transition: 0.3s ease-in;
}
.socialMedia:hover{
  color: crimson;
}